body{
    text-align: center;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    background: linear-gradient(to bottom, white, #5BE4EC); 
}
#main-container {
    max-width: 500px;
    max-height: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    overflow-x: hidden;
}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}
button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
button:active{
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    background-color: #3e8e41;
    transform: scale(0.9);
}
#increment-btn, #decrement-btn{
    background: #fc5656;
}


#save-btn {
    background:  #5BE4EC;
}